body


.main-heading {
  color: green;
  text-align: center;
  padding-top: 20px;
}

#intro {
  color: red;
  text-align: center;
}

.my-class {
  color: blue;
  text-align: center;
}

.box {
  width: 83px;
  padding: 20px;
  border: 5px solid black;
  margin: 10px auto;
  background-color: lightgray;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightblue;
}

.flex-item {
  padding: 20px;
  background-color: lightcoral;
  margin: 10px;
}
